In [1]:
#Adding dependecies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
#Loading data
df=pd.read_csv("raw_data.csv")
df.head()

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index (HDI),Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,AFG,Afghanistan,12/31/2019,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
1,AFG,Afghanistan,1/1/2020,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
2,AFG,Afghanistan,1/2/2020,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
3,AFG,Afghanistan,1/3/2020,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
4,AFG,Afghanistan,1/4/2020,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494

In [3]:
#Renaming the columns
df = df.rename(columns = {'Unnamed: 9':'TC','human_development_index (HDI)':'HDI','Unnamed: 10':'TD','Unnamed: 11':'STI','Unnamed: 12':'POP','Unnamed: 13':'GDPCAP'})
df

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,HDI,TC,TD,STI,POP,GDPCAP
0,AFG,Afghanistan,12/31/2019,0.0,0.0,0.00,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
1,AFG,Afghanistan,1/1/2020,0.0,0.0,0.00,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
2,AFG,Afghanistan,1/2/2020,0.0,0.0,0.00,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
3,AFG,Afghanistan,1/3/2020,0.0,0.0,0.00,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
4,AFG,Afghanistan,1/4/2020,0.0,0.0,0.00,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50413,ZWE,Zimbabwe,10/15/2020,8055.0,231.0,76.85,14862927,1899.775,0.535,8.994048296,5.442417711,4.34185547,16.514381,7.549490737
50414,ZWE,Zimbabwe,10/16/2020,8075.0,231.0,76.85,14862927,1899.775,0.535,8.996528148,5.442417711,4.34185547,16.514381,7.549490737
50415,ZWE,Zimbabwe,10/17/2020,8099.0,231.0,76.85,14862927,1899.775,0.535,8.999495876,5.442417711,4.34185547,16.514381,7.549490737
50416,ZWE,Zimbabwe,10/18/2020,8110.0,231.0,76.85,14862927,1899.775,0.535,9.000853147,5.442417711,4.34185547,16.514381,7.549490737
50417,ZWE,Zimbabwe,10/19/2020,8147.0,231.0,76.85,14862927,1899.775,0.535,9.00540504,5.442417711,4.34185547,16.514381,7.549490737

In [5]:
#Converting #NUM to NaN
df['TC'] = pd.to_numeric(df['TC'],errors = 'coerce')
df['TD'] = pd.to_numeric(df['TD'],errors = 'coerce')
df['STI'] = pd.to_numeric(df['STI'],errors = 'coerce')
df['GDPCAP'] = pd.to_numeric(df['GDPCAP'],errors = 'coerce')
df

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,HDI,TC,TD,STI,POP,GDPCAP
0,AFG,Afghanistan,12/31/2019,0.0,0.0,0.00,38928341,1803.987,0.498,NaN,NaN,NaN,17.477233,7.497754
1,AFG,Afghanistan,1/1/2020,0.0,0.0,0.00,38928341,1803.987,0.498,NaN,NaN,NaN,17.477233,7.497754
2,AFG,Afghanistan,1/2/2020,0.0,0.0,0.00,38928341,1803.987,0.498,NaN,NaN,NaN,17.477233,7.497754
3,AFG,Afghanistan,1/3/2020,0.0,0.0,0.00,38928341,1803.987,0.498,NaN,NaN,NaN,17.477233,7.497754
4,AFG,Afghanistan,1/4/2020,0.0,0.0,0.00,38928341,1803.987,0.498,NaN,NaN,NaN,17.477233,7.497754
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50413,ZWE,Zimbabwe,10/15/2020,8055.0,231.0,76.85,14862927,1899.775,0.535,8.994048,5.442418,4.341855,16.514381,7.549491
50414,ZWE,Zimbabwe,10/16/2020,8075.0,231.0,76.85,14862927,1899.775,0.535,8.996528,5.442418,4.341855,16.514381,7.549491
50415,ZWE,Zimbabwe,10/17/2020,8099.0,231.0,76.85,14862927,1899.775,0.535,8.999496,5.442418,4.341855,16.514381,7.549491
50416,ZWE,Zimbabwe,10/18/2020,8110.0,231.0,76.85,14862927,1899.775,0.535,9.000853,5.442418,4.341855,16.514381,7.549491
50417,ZWE,Zimbabwe,10/19/2020,8147.0,231.0,76.85,14862927,1899.775,0.535,9.005405,5.442418,4.341855,16.514381,7.549491

In [6]:
#Checking the numbers of NaN values
df.isnull().sum()

iso_code                0
location                0
date                    0
total_cases          3094
total_deaths        11190
stringency_index     7126
population              0
gdp_per_capita       5712
HDI                  6202
TC                   3594
TD                  12298
STI                 10042
POP                     0
GDPCAP               5712
dtype: int64

In [7]:
#Replacing NaN values with a float
df['total_cases'] = df['total_cases'].replace(np.nan, float(0))
df['total_deaths'] = df['total_deaths'].replace(np.nan, float(0))
df['stringency_index'] = df['stringency_index'].replace(np.nan, float(0))
df['population'] = df['population'].replace(np.nan, float(0))
df['gdp_per_capita'] = df['gdp_per_capita'].replace(np.nan, float(0))
df['HDI'] = df['HDI'].replace(np.nan, float(0))
df

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,HDI,TC,TD,STI,POP,GDPCAP
0,AFG,Afghanistan,12/31/2019,0.0,0.0,0.00,38928341,1803.987,0.498,NaN,NaN,NaN,17.477233,7.497754
1,AFG,Afghanistan,1/1/2020,0.0,0.0,0.00,38928341,1803.987,0.498,NaN,NaN,NaN,17.477233,7.497754
2,AFG,Afghanistan,1/2/2020,0.0,0.0,0.00,38928341,1803.987,0.498,NaN,NaN,NaN,17.477233,7.497754
3,AFG,Afghanistan,1/3/2020,0.0,0.0,0.00,38928341,1803.987,0.498,NaN,NaN,NaN,17.477233,7.497754
4,AFG,Afghanistan,1/4/2020,0.0,0.0,0.00,38928341,1803.987,0.498,NaN,NaN,NaN,17.477233,7.497754
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50413,ZWE,Zimbabwe,10/15/2020,8055.0,231.0,76.85,14862927,1899.775,0.535,8.994048,5.442418,4.341855,16.514381,7.549491
50414,ZWE,Zimbabwe,10/16/2020,8075.0,231.0,76.85,14862927,1899.775,0.535,8.996528,5.442418,4.341855,16.514381,7.549491
50415,ZWE,Zimbabwe,10/17/2020,8099.0,231.0,76.85,14862927,1899.775,0.535,8.999496,5.442418,4.341855,16.514381,7.549491
50416,ZWE,Zimbabwe,10/18/2020,8110.0,231.0,76.85,14862927,1899.775,0.535,9.000853,5.442418,4.341855,16.514381,7.549491
50417,ZWE,Zimbabwe,10/19/2020,8147.0,231.0,76.85,14862927,1899.775,0.535,9.005405,5.442418,4.341855,16.514381,7.549491

In [8]:
df.isnull().sum()

iso_code                0
location                0
date                    0
total_cases             0
total_deaths            0
stringency_index        0
population              0
gdp_per_capita          0
HDI                     0
TC                   3594
TD                  12298
STI                 10042
POP                     0
GDPCAP               5712
dtype: int64

In [9]:
#Replacing NaN for remaining columns
df['TC'] = df['TC'].combine_first(0 * df['total_cases'])
df['TD'] = df['TD'].combine_first(0 * df['total_deaths'])
df['STI'] = df['STI'].combine_first(0 * df['stringency_index'])
df['GDPCAP'] = df['GDPCAP'].combine_first(0 * df['gdp_per_capita'])

df.head()

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,HDI,TC,TD,STI,POP,GDPCAP
0,AFG,Afghanistan,12/31/2019,0.0,0.0,0.0,38928341,1803.987,0.498,0.0,0.0,0.0,17.477233,7.497754
1,AFG,Afghanistan,1/1/2020,0.0,0.0,0.0,38928341,1803.987,0.498,0.0,0.0,0.0,17.477233,7.497754
2,AFG,Afghanistan,1/2/2020,0.0,0.0,0.0,38928341,1803.987,0.498,0.0,0.0,0.0,17.477233,7.497754
3,AFG,Afghanistan,1/3/2020,0.0,0.0,0.0,38928341,1803.987,0.498,0.0,0.0,0.0,17.477233,7.497754
4,AFG,Afghanistan,1/4/2020,0.0,0.0,0.0,38928341,1803.987,0.498,0.0,0.0,0.0,17.477233,7.497754

In [10]:
df.isnull().sum()

iso_code            0
location            0
date                0
total_cases         0
total_deaths        0
stringency_index    0
population          0
gdp_per_capita      0
HDI                 0
TC                  0
TD                  0
STI                 0
POP                 0
GDPCAP              0
dtype: int64

In [11]:
#Description of the data in the dataset
df.describe()

,total_cases,total_deaths,stringency_index,population,gdp_per_capita,HDI,TC,TD,STI,POP,GDPCAP
count,5.041800e+04,50418.000000,50418.000000,5.041800e+04,50418.000000,50418.000000,50418.000000,50418.000000,50418.000000,50418.000000,50418.000000
mean,6.215560e+04,2317.646555,48.224171,4.251601e+07,18460.095227,0.631553,6.762125,3.413681,3.178897,15.442097,8.318580
std,3.922702e+05,12267.528868,32.151346,1.564607e+08,20348.222700,0.280450,3.637347,3.082761,1.673451,2.495039,3.177130
min,0.000000e+00,0.000000,0.000000,8.090000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,6.695799,0.000000
25%,6.400000e+01,1.000000,17.590000,1.399491e+06,2851.153000,0.519000,4.158883,0.000000,2.867331,14.151619,7.955479
50%,1.203000e+03,24.000000,54.630000,8.278737e+06,11713.895000,0.723000,7.092574,3.178054,4.000583,15.929201,9.368531
75%,1.342225e+04,276.000000,76.390000,2.913681e+07,27936.896000,0.825000,9.504669,5.620401,4.335852,17.187513,10.237704
max,8.154595e+06,219674.000000,100.000000,1.439324e+09,116935.600000,0.953000,15.914092,12.299900,4.605170,21.087439,11.669379

In [12]:
#Saving the cleaned data to a new file
df.to_csv("cleaned_covid_data.csv",index=False)

# connecting to database

In [17]:
from config import db_password

In [23]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/covid_db"

In [24]:
engine = create_engine(db_string)

In [25]:
df.to_sql(name='covid', con=engine)

418